@mixin square {
  width: 200px;
  height: 200px;
  background: turquoise;
  border: 1px solid #000;
}

@mixin circle {
  width: 200px;
  height: 200px;
  background: purple;
  border: 1px solid red;
  border-radius: 50%;
}

@mixin square-bg ($bg: red) {
   background-color: $bg;
}

@mixin circle-bg ($bg: purple) {
background-color: $bg;
}

@mixin circle-border ($border) {
  border: 6px solid;
}

.squares {
    width: 80%;
    border: 1px dotted #000;
    padding: 10px;
    margin: 0 auto;

    .square-magenta {
      @include square;

      @include square-bg (magenta);
    }

    .square-peru {
        @include square;

        @include square-bg (peru);
    }

    .square-purple {
        @include square;

        @include square-bg (purple);
    }
}

.circle {
  width: 75%;
  border: 2px dotted peru; 
  border-radius: 20px;
  margin: 0 auto;

    .circle-red {
      @include circle;

      @include circle-bg (red);

      @include circle-border(solid blue);
    }

    .circle-green {
      @include circle;

      @include circle-bg(green);
    }

    .circle-blue {
      @include circle;

      @include circle-bg(blue);

     
    }
}