@mixin mq-md-down {
    @media (max-width: 499px) {
        @content;
    }
}

@mixin mq-md-up {
    @media (min-width: 502px){
        @content;
    }
}

body {
    padding: 0;
}


.box-1 {
    @include mq-md-up() {
        background-color: green;
    }
}

.box-2 {
    @include mq-md-down() {
        display: none;
    }
}